*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
   background-color: #0071A7;   
   padding: 30px 0;
}
.select-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-menu .form-select{
     width: 200px;
     margin: 0 10px;
}
.times-body{
  background: #67BC9A; 
  padding: 30px 0;

}
.times-body .times-table .tabler{
    width: 100%;
    
   
}
.times-body .times-table h3{
  color: white;
  margin-bottom: 20px;
}
.times-body .times-table .tabler table{
    width: 100%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.295);
   
}
.times-body .times-table .tabler table #table-header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
    
}
.times-body .times-table .tabler table #table-items{
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    
}
.times-body .times-table .tabler table tr th{
    padding: 5px 10px;
}
.times-body .times-table .tabler table tr td{
    padding: 5px 10px;
}